@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Baloo 2 Variable', system-ui;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
h1 {
  font-size: 20px;
  font-weight: bold;
}
h2 {
  font-size: 2.3vh;
}
p {
  font-size: 2.1vh;
}

.text-footer {
  font-size: 14px;
}
.titles {
  font-size: 3vh;
}


/* .bg-gradient-radial {
  background-image: radial-gradient(circle at center, #ffff -1800%, #0F172A 100%);
} */

