
.my-img {
    
    filter: drop-shadow(
        0 0 10px rgba(0, 0, 0, .8)
    );
}

.listDetails { 
    list-style:none; 
    padding-left: 0; 
    display:flex;
}

.listDetails li img{
    width: 100px;
    opacity:50%;
    transition:0.3s;
    margin-inline-end: 10px;
    filter:grayscale(50%);
    
   
    
    /* &:hover{ opacity:100%;  margin-top:-5px;  filter:grayscale(0%);
     box-shadow: 0 4px 8px rgba(0,0,0,.3)
   } */
    /* &:active{transform:scale(0.8)} */
    
}

.listDetails li img:hover{
    opacity:100%;  margin-top:-5px;  filter:grayscale(0%);
     box-shadow: 0 4px 8px rgba(0,0,0,.3)   
}

.listDetails li img:active{
    transform:scale(0.8)
}